.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  display: flex;
  align-items: center;
  background-color: white;
  color: darkgray;
  border-radius: 30px;
  padding: 10px;
  max-width: 250px;
  min-width: 70px;
  width: 100%;
}

.header__left input {
  outline-style: none;
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 5px;
}

.header__right h4 {
  margin-left: 10px;
}
